{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th class="p-3">Stocks</th>
                <th class="p-3">Number</th>
                <th class="p-3">Price for Each</th>
                <th class="p-3">Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price | usd }}</td>
                    <td>{{ stock.total | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
